body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1 {
  font-size: 70px;
  color: #060606;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 0;
  color: #61969b;

  font-weight: 600;
}

h3 {
  font-size: 36px;
  color: #61969b;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 0;
}

li {
  padding: 0 20px;
  font-weight: 600;
  font-size: 20px;
}

.navigation-bar a {
  text-decoration: none;
  color: #61969b;
}

.home-page-grid img {
  border-radius: 10px;
}

.home-page-grid p {
  padding-left: 60px;
  margin: 50px 0 0 0;
  font-size: 16px;
  line-height: 1.5;
  color: #060606;
}

footer {
  margin: 50px 0 30px 0;
  color: #060606;
}

footer .email {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.navigation-bar .active {
  color: #060606;
}
.navigation-bar {
  padding-top: 30px;
  text-align: end;
}
.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 40px;
}

/*.three-rows {
  grid-template-rows: 1fr 2fr 2fr;
  grid-gap: 20px;
}*/

.icons-grid {
  display: grid;
  margin: 60px 100px 0 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
}

.technology-icon {
  display: block;
  margin: 0 auto;
  max-width: 40px;
}

.technology-text {
  font-size: 11px;
  color: #060606;
}

.information-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 60px 0 0 0px;
}

.information {
  background-color: #bcdbc4;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  color: #060606;
  font-weight: 600;
  font-size: 20px;
}

.information:hover {
  background-color: #61969b;
}

/*Projects Page*/

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 60px 0;
}

.projects-grid p {
  margin: 30px 0;
  font-size: 16px;
  line-height: 1.5;
}

.projects-grid .launch-button {
  padding: 20px 120px;
  background-color: #bcdbc4;
  border-radius: 10px;
}

.projects-grid .launch-button:hover {
  background-color: #61969b;
}

.projects-grid a {
  text-decoration: none;
  color: #060606;
  font-weight: 600;
  font-size: 20px;
}

.projects-grid img {
  border-radius: 10px;
}

/*Contact Page */

.contact-details {
  margin: 60px 0px;
}

.contact-details a {
  font-size: 35px;
  color: #060606;
  line-height: 1.5;
  font-weight: 600;
}

.contact-details .font-awesome-icon {
  font-size: 60px;
}
